name: CI

on:
  push:
    branches:
      - main
    paths:
      - "packages/**"
      - "!packages/**/*.md"
      - ".changeset/**"
      - ".github/workflows/**"
      - ".github/scripts/**"
      - "!*.md"
      - "!.github/instructions/**"

permissions:
  id-token: write
  contents: write
  packages: write
  checks: write

jobs:
  ci:
    uses: ./.github/workflows/pipeline.yml
    with:
      is_pr: false
    secrets:
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
      DEPLOY_KEY_GITHUB_IO: ${{ secrets.DEPLOY_KEY_GITHUB_IO }}
