name: PR Gate

on:
  pull_request:
    branches:
      - main
    paths:
      - "packages/**"
      - "!packages/**/*.md"
      - ".changeset/**"
      - ".github/workflows/**"
      - "!*.md"

permissions:
  contents: read

jobs:
  pr-gate:
    uses: ./.github/workflows/pipeline.yml
    with:
      is_pr: true
    secrets:
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
